.contact
    p.contact__name= contact.name
        i.fas.fa-map-marker-alt
    p.contact__place= contact.place
    p.contact__time= contact.time
        i.fas.fa-clock
    p.contact__phone= contact.phone
        i.fas.fa-phone
    p.contact__more= contact.more